<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Rooms</title>

    <link rel="stylesheet" href="/css/rooms.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<section class="room-banner">

    <h1>Luxury Rooms & Suites</h1>

</section>

<section class="room-container">

    <div class="room-card">

        <img src="/images/room1.jpg">

        <h2>Executive Suite</h2>

        <p>Premium luxury stay with skyline views.</p>

    </div>

    <div class="room-card">

        <img src="/images/room1.jpg">

        <h2>Presidential Suite</h2>

        <p>Crafted for exclusive comfort and elegance.</p>

    </div>

</section>

</body>

</html>