body{
    margin:0;
    font-family:Arial;
}

.room-banner{
    height:50vh;
    background:black;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.room-banner h1{
    font-size:55px;
    font-weight:300;
}

.room-container{
    display:flex;
    gap:30px;
    padding:80px 10%;
}

.room-card{
    flex:1;
}
body{
    padding-top:90px;
}
.room-card img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.room-card h2{
    margin-top:20px;
    font-weight:300;
}

.room-card p{
    color:#555;
}