<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Login</title>

    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="auth-container">

    <h1>Login</h1>

    <form action="/login" method="post">

        <input type="email"
               name="email"
               placeholder="Email"
               required>

        <input type="password"
               name="password"
               placeholder="Password"
               required>

        <button type="submit">
            Login
        </button>

    </form>

    <p th:text="${error}"></p>

</div>

</body>

</html>